.cap{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 280px;
}
.img{
  width: 280px;
  height: 320px;
  object-fit: cover;
}

.hats-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.button-add {
  width: 80%;
  opacity: 0.7;
  position: absolute;
  top:255px;
  cursor: pointer;


}