.checkout-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0px;
  width: 60%;
  align-items: center;
  min-height: 90vh;
}
.checkout-header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;
}
.header-block {
  text-transform: capitalize;
  width: 23%;
}
.remove{
  width: 8%;
}
@media only screen and (max-width:600px) {
  .checkout-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .checkout-header{
    padding: 0px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .remove{
    width: 22%;
  }
  
}
.total {
  margin-top: 30px;
  margin-left: auto;
  font-size: 36px;
}